
@{
    @if (ViewBag.UserId != null)
    {
        <div>
            <span id="password" style="display: inline">Password: @ViewBag.Password will expire at: @ViewBag.ExpirationTime</span>
            <span id="message" style="display: none">Your password has expired please go back and generate another one.</span>
            <br />
            <br />
            <input type="button" onclick="location.href='/'" value="Go back" />
        </div>
    }
    <script>
    setTimeout(function()
    {
        document.getElementById("password").style.display = "none";
        document.getElementById("message").style.display = "inline";
    }, 30000); 
    </script>
}
